<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Secretariat</title>
</head>
<body>
<h1>Add a new secretariat:</h1>

<form action="/secretariats/addSecretariat?id={{key}}" method="post">
    Name:           <input type="text" name="Name"><br>
    Campus:         <input type="text" name="Campus"><br>
    Building:       <input type="text" name="Building"><br>
    Hours:          <input type="text" name="Hours"><br>
    Description:    <input type="text" name="Description"><br>
    <input type="submit">
</form>




</body>
</html>