<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Find Secret</title>

    <script type="text/javascript">
        //<![CDATA[
        function reqResponse () {
             o = JSON.parse(this.responseText);
            document.getElementById('divDestiny').innerHTML = o.name;
             if(o.name != "user not found"){
                 var photo = o.photo;
                 var image = new Image();
                 image.src = 'data:image/png;base64,'.concat(photo);
                 document.body.appendChild(image);
             }
        }

        function replace() {
             var t = document.getElementById('secret').value;
             var key = '{{key}}';
             image = document.body.lastChild;
             document.body.removeChild(image);
             var oReq = new XMLHttpRequest();
             oReq.addEventListener("load", reqResponse);
             oReq.open("POST", "/getuser");
             oReq.setRequestHeader("Content-type", "application/json");
             oReq.send('{"secret":"'+  t + '", "key": "' + key + '"}');
        }
         //]]>
    </script>
</head>
<body>


Secret:           <input type="text" name="Secret" id="secret"/>
<input type="submit" value="Search" onclick="replace()"/>


<div id="divDestiny"></div>

<div id="test"></div>

</body>
</html>