<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

<h1>Mobile App</h1>
<body>
  <a href="/private">Login</a>
</body>

<h1>Admin</h1>
<form action="/admin" method="post">
    username:           <input type="text" name="username"><br>
    password:         <input type="Password" name="password"><br>
    <input type="submit">
</form>

<h1>Microservices pages</h1>

<a href="/secretariats">Secretariats</a> <br>

<a href="/canteen">Canteen</a> <br>

<a href="/rooms">Rooms</a>

</body>
</html>