<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Initial Menu</title>
</head>
<body>

<h1>Microservices pages</h1>

<a href="/secretariats">Secretariats</a> <br>

<a href="/canteen">Canteen</a> <br>

<a href="/rooms">Rooms</a>

<h1>Admin pages</h1>

<a href="/logs/getlogs?id={{key}}">Logs</a><br>

<a href="/secretariats/create?id={{key}}">Create secretariat</a><br>

<a href="/secretariats/edit?id={{key}}">Edit secretariat</a>

<h1>Mobile App</h1>

<a href="/mysecret?id={{key}}">MySecret</a><br>

<a href="/findsecret?id={{key}}">FindSecret</a><br>

<a href="/qrcode?id={{key}}">QR-Code</a>



</body>
</html>