<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Secret</title>
    <script>
        var update = 1;
        function reqResponse () {
             o = JSON.parse(this.responseText);
             document.getElementById('divDestiny').innerHTML = "This guy used your secret: " + o.name;
             var photo = o.photo;
             var image = new Image();
             image.src = 'data:image/png;base64,'.concat(photo);
             document.body.appendChild(image);
             var oreq = new XMLHttpRequest();
             var secret = '{{secret}}'
             oreq.open("POST", "/clean");
             oreq.setRequestHeader("Content-type", "application/json");
             oreq.send('{"secret":"'+ secret + '"}');
             update = 0;
        }

        function checkUpdates() {
            if(update == 1){
                var secret = '{{secret}}';
                var oReq = new XMLHttpRequest();
                oReq.addEventListener("load", reqResponse);
                oReq.open("POST", "/getgetusersdict");
                oReq.setRequestHeader("Content-type", "application/json");
                oReq.send('{"secret":"'+ secret + '"}');
            }
        }


        setInterval(function() { checkUpdates(update) }, 10000);
    </script>
</head>
<body>

secret:<h3>{{secret}}</h3>

<div id="divDestiny"></div>

</body>
</html>