<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

<!--The secretariats Database has now {{ count}} services.-->

<h1>Secretariats:</h1>

<a href="/secretariats/all?id={{key}}">List all secretariats</a>
<!--
<h2>Links</h2>
<a href="">Secretariat info</a>
<a href="">Secretariat Location</a>
<a href="">Secretariat Description</a>
<a href="">Secretariat timetable</a>
-->
<h1>Secretariats Admin:</h1>

<a href="/secretariats/create?id={{key}}">Create secretariat</a>
<!--
<a href="/api/secretariats/hours">Change timetable</a>
<a href="/api/secretariats/description">Change Description</a> 
-->


</body>
</html>