<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
</head>
<body>

<!--The secretariats Database has now {{ count}} services.-->

<h1>Secretariats:</h1>


<!--
<h2>Links</h2>
<a href="">Secretariat info</a>
<a href="">Secretariat Location</a>
<a href="">Secretariat Description</a>
<a href="">Secretariat timetable</a>
-->
<video id="preview"></video>
<p id="QRcode"></p>
<form action="#"   onsubmit="location.href = document.getElementById('f1').value +   document.getElementById('q').value +'?id={{key}}'; return false" >
    ID:<input type="text" id="q" name="f2">
    <input type="submit" value="go">
    <input type=hidden id=f1 name=f1 value="http://127.0.0.1:{{port_webpages}}/secretariats/">
</form>
<script type="text/javascript">
  let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
  scanner.addListener('scan', function (content) {
   
    //document.getElementById("q").value = content;
    document.getElementById("q").value = content;
  });
  Instascan.Camera.getCameras().then(function (cameras) {
    if (cameras.length > 0) {
      scanner.start(cameras[0]);
    } else {
      console.error('No cameras found.');
    }
  }).catch(function (e) {
    console.error(e);
  });
</script>


<a href="/secretariats/all?id={{key}}">List all secretariats</a>

<h1>Secretariats Admin:</h1>

<a href="/secretariats/create?id={{key}}">Create secretariat</a>
<a href="/secretariats/edit?id={{key}}">Edit secretariat</a>
<!--
<a href="/api/secretariats/hours">Change timetable</a>
<a href="/api/secretariats/description">Change Description</a> 
-->


</body>
</html>