<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

<!--The secretariats Database has now {{ count}} services.-->

<h1>Secretariats:</h1>


<!--
<h2>Links</h2>
<a href="">Secretariat info</a>
<a href="">Secretariat Location</a>
<a href="">Secretariat Description</a>
<a href="">Secretariat timetable</a>
-->

<form action="#"   onsubmit="location.href = document.getElementById('f1').value +   document.getElementById('q').value +'?id={{key}}'; return false" >
    ID:<input type="text" id="q" name="f2">
    <input type="submit" value="go">
    <input type=hidden id=f1 name=f1 value="http://127.0.0.1:{{port_webpages}}/secretariats/">
</form>


<a href="/secretariats/all?id={{key}}">List all secretariats</a>

<h1>Secretariats Admin:</h1>

<a href="/secretariats/create?id={{key}}">Create secretariat</a>
<a href="/secretariats/edit?id={{key}}">Edit secretariat</a>
<!--
<a href="/api/secretariats/hours">Change timetable</a>
<a href="/api/secretariats/description">Change Description</a> 
-->


</body>
</html>