<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secretariat</title>
</head>
<body>
<h1>Secretariat:</h1>

    <ul>
        <li>Name: {{sec_dict['name']}}</li>
        <li><a href="/secretariats/{{sec_dict['id']}}/location?id={{key}}">Location</a>: {{sec_dict['campus']}},  {{sec_dict['building']}}</li>
        <li><a href="/secretariats/{{sec_dict['id']}}/timetable?id={{key}}">Timetable</a>: {{sec_dict['timetable']}}</li>
        <li><a href="/secretariats/{{sec_dict['id']}}/description?id={{key}}">Description</a>: {{sec_dict['description']}}</li>
    </ul>



</body>
</html>