<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secretariat</title>
</head>
<body>
<h1>Secretariat:</h1>


   
    <ul>
        <li>ID: {{sec_dict['id']}}
        </li>
        <li>Name: {{sec_dict['name']}}
        </li>
        <li>Campus:{{sec_dict['campus']}}
        </li>
        <li>Building: {{sec_dict['building']}}
        </li>
        <li>Time Table: {{sec_dict['timetable']}}
        </li>
        <li>Description: {{sec_dict['description']}}
        </li>
    </ul>



</body>
</html>