<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
</head>
<body>
<h1>Room:</h1>

    <ul>
        Name:
            <ul><li> {{room['name']}}</li></ul>
        ID: 
            <ul><li id="id">{{room['id']}}</li></ul>
        Normal Capacity: 
            <ul><li>  {{room['capacity']['normal']}}</li></ul>
        Exam Capacity: 
            <ul><li> {{room['capacity']['exam']}}</li></ul>
       
    </ul>

 
    <form action="#"   onsubmit="location.href = document.getElementById('f1').value +   document.getElementById('id').innerHTML + document.getElementById('f2').value ; return false">       
        <input type="submit" value="Location">
        <input type=hidden id=f1 name=f1 value="http://127.0.0.1:5000/api/rooms/">
        <input type=hidden id=f2 name=f1 value="/location">
    </form>
    
    <form style="margin-top: 0.5cm;" action="#"   onsubmit="location.href = document.getElementById('f3').value +   document.getElementById('id').innerHTML + document.getElementById('f4').value ; return false">       
            <input type="submit" value="Timetable">
            <input type=hidden id=f3 name=f1 value="http://127.0.0.1:5000/api/rooms/">
            <input type=hidden id=f4 name=f1 value="/events">
    </form>

</body>
</html>