<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Events</title>
</head>
<body>
    <h1>{{room['name']}} Timetable:</h1>

    <ul>
        Name:
            <ul><li> {{room['name']}}</li></ul>
        ID: 
            <ul><li id="id">{{room['id']}}</li></ul>
        Normal Capacity: 
            <ul><li>  {{room['capacity']['normal']}}</li></ul>
        Exam Capacity: 
            <ul><li> {{room['capacity']['exam']}}</li></ul>
       
    </ul>

    <h1>Timetable:</h1>   
       
    <ol>
        {% for item in events %}
       
        <li
            ><ul>Day:
                    <ul><li> {{item['day']}}</li></ul>
                Type:                
                    <ul><li> {{item['type']}}</li></ul>
                    <ul><li> {{item['info']}}</li></ul>
                Start:
                    <ul><li>  {{item['start']}}</li></ul>
                End:
                    <ul><li> {{item['end']}}</li></ul>
                Class:
                <ul><li>
                        {% if 'course' in item %}
                            {{item['course']['acronym']}}- {{item['course']['name']}}
                        {% endif %} 
                       
                </li></ul>

                {% if 'description' in item %}
                      Description:
                    <ul><li> {{item['description']}}</li></ul>
                {% endif %} 
                {% if 'title' in item %}
                    Title:
                    <ul><li> {{item['title']}}</li></ul>
                {% endif %}
            </ul>

        </li>
        {% endfor %}
    </ol>


</body>
</html>